body {
    margin: 0px;
    padding: 0px;
    --main-color: #004078;
    --main-text-color: white;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-color);
}

.header {
    background-color: #76c2851a;
    display: flex;
    align-items: left;
    height: 56px;
    width: 100%;
    padding-left: 8px;

}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vega-bindings {
    display: flex;
    padding-left: 60px;
    justify-content: space-between;
    width: 700px;
}

.vega-bind {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-container {
    margin-left: 8px;
    display: flex;
}

.marks {
    border-radius: 5px;
}

.vega-bind-name {
    display: none;
}

.checkboxes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    flex-direction: column;
    transform: translate(-95px, -265px);
    color: black;
    font-size: 12px;
    scale: 0.8;

}

.checkboxes label {
    display: none;
}

input[type="checkbox"] {    
    margin:2px
}

.table-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

table {
    width: 60%;
    border-collapse: collapse; /* Ensures the borders of adjacent cells are merged */
}

th, td {
    border: 1px solid #ffffff;
    padding: 8px; 
    text-align: center;
}

thead th {
    background-color: #76c2851a;; 

}

tbody tr:nth-child(even) {
    background-color: #ffffff31;
}

